---
import FormattedDate from "./FormattedDate.astro"
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<div class="posts-container">
  <section>
    {
      posts.map((post) => (
        <article>
          <a href={`/blog/${post.id}/`}>
            <h4 class="post-title">{post.data.title}</h4>
          </a>

          {!!post.data.heroImage && <img width={720} height={260} src={post.data.heroImage} alt="" />}

          <p class="post-description">
            {post.data.description}
          </p>

          <p class="post-meta">
            <FormattedDate date={post.data.pubDate} />
          </p>
        </article>
      ))
    }
  </section>
</div>

<style>
  .posts-container {
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
  .posts-container a {
		text-decoration: none;
  }
  .posts-container section {
		width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 3em 1em;
  }
  .post-description {
    text-align: start;
  }
  .post-meta {
    color: #999;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4em;
  }
  .post-meta a {
    color: #555;
  }
</style>